<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>‽</string>
		<key>shortcut</key>
		<string>!?</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⸘</string>
		<key>shortcut</key>
		<string>¡¿</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‽</string>
		<key>shortcut</key>
		<string>?!</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⸘</string>
		<key>shortcut</key>
		<string>¿¡</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>commandkey</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌫</string>
		<key>shortcut</key>
		<string>deletekey</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ಠ_ಠ</string>
		<key>shortcut</key>
		<string>disapprove</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>downarrow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⎋</string>
		<key>shortcut</key>
		<string>escapekey</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌦</string>
		<key>shortcut</key>
		<string>forwarddeletekey</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>h*ck</string>
		<key>shortcut</key>
		<string>heck</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>h*ckin</string>
		<key>shortcut</key>
		<string>heckin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>leftarrow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ͡° ͜ʖ ͡°)</string>
		<key>shortcut</key>
		<string>lennyface</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>On my way!</string>
		<key>shortcut</key>
		<string>omw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>optionkey</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:parrotwave1::parrotwave2::parrotwave3::parrotwave4::parrotwave5::parrotwave6::parrotwave7:</string>
		<key>shortcut</key>
		<string>parrotwave</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>┬━┬ ノ( ゜-゜ノ)</string>
		<key>shortcut</key>
		<string>puttableback</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⏎</string>
		<key>shortcut</key>
		<string>returnkey</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>rightarrow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧</string>
		<key>shortcut</key>
		<string>shiftkey</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¯\_(ツ)_/¯</string>
		<key>shortcut</key>
		<string>shrug</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>␣</string>
		<key>shortcut</key>
		<string>spacebarkey</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(╯°□°)╯︵ ┻━┻</string>
		<key>shortcut</key>
		<string>tableflip</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>uparrow</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y'all</string>
		<key>shortcut</key>
		<string>yall</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y'all'd</string>
		<key>shortcut</key>
		<string>yalld</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y'all'd've</string>
		<key>shortcut</key>
		<string>yalldve</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y'all'll</string>
		<key>shortcut</key>
		<string>yallll</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y'all'll've</string>
		<key>shortcut</key>
		<string>yallllve</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y'all're</string>
		<key>shortcut</key>
		<string>yallre</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y'all're'nt</string>
		<key>shortcut</key>
		<string>yallrent</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y'all's</string>
		<key>shortcut</key>
		<string>yalls</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y'all've</string>
		<key>shortcut</key>
		<string>yallve</string>
	</dict>
</array>
</plist>
